
/*https://www.gradient-animator.com/ */ 


 
.css-selector {
    background: linear-gradient(159deg, #081269, #6d74ac, #1d183a);
    background-size: 600% 600%;

    -webkit-animation: loadIcon 3s ease infinite;
    animation: loadIcon 3s ease infinite;
}

@-webkit-keyframes loadIcon {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes loadIcon {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}